[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE / solución
.vs/
.gradle/
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Logs
*.log

# Paquetes Unity / varios
[Mm]emoryCaptures/
[Rr]ecordings/
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Unity crash recovery
unity/Tirolei_Prototype/Assets/_Recovery/
unity/Tirolei_Prototype/Assets/_Recovery.meta

